page-eventos-com {
    .fecha{
        display: block;
        float: right;
        font-size: 10pt !important;
        margin-top: 0px !important;
        margin-right: 0px !important;
        padding-left: 5px !important;
        text-align: right;
    }
    
}

.cardunoborde{
     
    
    border-left-style: inset;
    border-left-color: #2D88B5;
    border-radius: 2px;
    border-width: 5px;
    border-left-style: outset;
}


.cardunobordedos{
     
    
    
    border-left-style: inset;
    border-left-color: #EFA233;
    border-radius: 2px; 
    border-width: 5px;
    border-left-style: outset;
}

.cardunobordetres{
     
    
    border-left-style: inset;
    border-left-color: #C21B80;
    border-radius: 2px; 
    border-width: 5px;
    border-left-style: outset;
}

:host ::ng-deep .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated
{
    background: #2D88B5!important;
}
ion-segment
{
    background: white;
    border-style: none;

}
 