page-eventos-com {
    .fecha{
        display: block;
        float: right;
        font-size: 10pt !important;
        margin-top: 0px !important;
        margin-right: 0px !important;
        padding-left: 5px !important;
        text-align: right;
    }
    
}

.cardunoborde{
     
    
    border-left-style: inset;
    border-left-color: #C21B80;
    border-radius: 2px;
   border-width: 4px;
}


.cardunobordedos{
     
    
    
    border-left-style: inset;
    border-left-color: limegreen;
    border-radius: 2px; 
    border-width: 4px;
}

.cardunobordetres{
     
    
    border-left-style: inset;
    border-left-color: yellow;
    border-radius: 2px; 
    border-width: 4px;
}