<ion-header>
  <ion-navbar color="primary"> </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 class="titulo">Agregar Evento</h2>
  <ion-list>
    <ngForm #evtRegForm="ngForm" name="evtRegForm">
      <ion-item>
        <ion-label floating color="primary" stacked>Nombre</ion-label>
        <ion-input
          name="nombre"
          type="text"
          [(ngModel)]="evento.nombre"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="primary" stacked>Descripción</ion-label>
        <ion-input
          name="descripcion"
          type="text"
          [(ngModel)]="evento.descripcion"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="primary" stacked>Clave</ion-label>
        <ion-input
          name="clave"
          type="text"
          [(ngModel)]="evento.clave"
          required
        ></ion-input>
      </ion-item>
      <br />

      <ion-item>
        <ion-label floating color="primary" stacked>Fecha de inicio</ion-label>
        <ion-datetime
          name="fechaInicio"
          displayFormat="DD MMM YYYY"
          pickerFormat="DD MMM YYYY"
          [(ngModel)]="evento.fechaInicio"
          (ionChange)="validarFechas()"
          required
        ></ion-datetime>
      </ion-item>
      <br />

      <ion-item>
        <ion-label floating color="primary" stacked>Fecha de cierre</ion-label>
        <ion-datetime
          name="fechaFin"
          displayFormat="DD MMM YYYY"
          pickerFormat="DD MMM YYYY"
          [(ngModel)]="evento.fechaFin"
          (ionChange)="validarFechas()"
          required
        ></ion-datetime>
      </ion-item>

      <ion-item *ngIf="!fechaValido">
        <ion-label color="error" class="inputError">
          *Fechas incorrectas
        </ion-label>
      </ion-item>

      <br />

      <div padding>
        <ion-row>
          <ion-col>
            <button ion-button color="secondary" (click)="cargarImagen()">
              Subir Imagen
            </button>
          </ion-col>
          <ion-col>
            <ion-thumbnail *ngIf="image">
              <img
                src="data:image/jpeg;base64,{{ image }}"
                width="48"
                height="48"
              />
            </ion-thumbnail>
          </ion-col>
        </ion-row>
      </div>
    </ngForm>
    <br />
    <div class="titulo">
      <button
        ion-button
        color="primary"
        (click)="guardarImagen()"
        [disabled]="!evtRegForm.valid || !image || !fechaValido"
      >
        Guardar
      </button>
    </div>
  </ion-list>
</ion-content>
