page-log-in {
.logo{
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    background: white;
    width: 150px;
    height: 150px;
    top:-30px;
    padding-bottom: 20px;
}
.info{
    position: relative;
        align-content: center;
        text-align: center;
        top: -70px;
}

.tit{
    align-content: center;
    text-align: center;
    //width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.iconito1{
    position: relative;
    width: 10px!important;
    height: 10px !important;
    top: 15px;
}
.iconito2{
    position: relative;
    width: 10px!important;
    height: 10px !important;
    top: 13px;
}
}