page-log-in {
    .icono{
        position: relative;
        font-size: 60px;
        top: 0px;
        left: 120px;
        color: #95187E !important;
    }
    .btnLo{
        position: relative;
        top: 30px;
    }
    .letrero{
        position: relative;
        font-size: 12px;
        top: 20px;
        left: 0px; 
    }
    .btnRe{
        position: relative;
        top: -20px;
        left: 132px;
        font-size: 13px;
    }
    .olvido{
        position: relative;
        top: -25px;
        left: 50px;
    }
    .cand{
        position: relative;
        width: 20px;
        height: 20px;
        top: 30px;
        left: -110px;
    }
    

}
.logo{
    background: white;
    align-content: center;
    width: 30px;
    height: 30px;
    margin-left: 100px;
    text-align: center;
    padding: 50px;

}

.tit{
    align-content: center;
    text-align: center;
    //width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.iconito
{
    width: 10px!important;
    height: 10px !important;
}