<style>
  .unaimagengeneral2
  {
    border-radius: 60px;
    width: 40%;
    /* height: 50%; */
    box-shadow: 1px solid gray;
    box-shadow: 0px 5px 20px -10px rgba(0,0,0,0.75);
  }


</style>
<ion-header>
        <ion-navbar color="primary">
        </ion-navbar>
      </ion-header>
      
      <ion-content padding>
              <h3 class="titulo">Transportación</h3>
              <ion-list *ngFor="let transporte of transporte | async">
                  <ion-card class="cardgeneralgen">
                    
                        
                    <ion-card-content class="cardslist">
                        <ion-item>
                            <h3 ><strong>{{transporte.nombre}} </strong> </h3>
                            <div class="row">
                              <div class="col">
                                
                                  <img class="unaimagengeneral2" src="{{transporte.imagen}}">

                              </div>
                              <div class="col">
                                  
                                      <a *ngIf="transporte.android!= 'no' " style="text-decoration: none; color:black; font-size: 15px;" href="{{transporte.android}}"> <ion-icon color="primary" ios="logo-android" md="logo-android"></ion-icon> Android</a>
                                      <br/>
                                     
                                    <a *ngIf="transporte.ios!= 'no'" style="text-decoration: none; color: black; font-size: 15px;" href="{{transporte.ios}}"><ion-icon color="date" ios="logo-apple" md="logo-apple"></ion-icon> IOS</a>
                                 
                                  
                                
                              </div>
                            </div>
                         
                                </ion-item>
                      </ion-card-content>
                  </ion-card>
              </ion-list>
      </ion-content>