<ion-header>
  <ion-navbar color="primary">
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!-- <h3 class="titulo">Eventos</h3>
  <ion-list *ngFor="let evento of eventos | async">
    <ion-item>
      <ion-thumbnail item-start>
        <img class="uno" src="{{evento.imagenUrl}}">
      </ion-thumbnail>
      <h2>{{evento.nombre}}</h2>
      <p>{{evento.descripcion}}</p>
      <button color="danger" ion-button clear [navPush]="eventocom" (tap)="showPrompt(index)">Registrar</button>
    </ion-item>
  </ion-list> -->
  <h3 class="titulo">Eventos</h3>
  <ion-list *ngFor="let evt of eventos;let i=index">
    <ion-card class="cardgeneralgen">
        <img class="unaimagengeneral" src="{{evt.imagenUrl}}">
        <ion-card-content class="cardslist">
          <ion-item>
            <h2 class="p-card1">{{evt.nombre}}</h2>
            <p class="p-card">{{evt.descripcion}}</p>
            <button class="p-card" color="azul" ion-button  [navPush]="eventocom"
              (tap)="showPrompt(i)">{{(registrado(i))?'Ver Itinerario':'Registrar'}}</button>
          </ion-item>
        </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>