page-registro {
    .logo{
        position: relative;
        display:block;
        margin-left: auto;
        margin-right: auto;
        background: white;
        width: 150px;
        height: 150px;
        top:-30px;
    }

    .btnRe{
        position: relative;
        top: 0px;
    }

}

