page-registro {
    .logo{
        position: relative;
        font-size: 60px;
        top: 0px;
        left: 40%;
        color:#EFA233;
        align-content: center;
        text-align: center;
    }

    .btnRe{
        position: relative;
        top: 0px;
    }

}

