page-registro {
    .logo{
        position: relative;
        background: white;
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
        top:-30px;
    }
    .info{
        position: relative;
        align-content: center;
        text-align: center;
        top: -80px;
    }

    .btnRe{
        position: relative;
        top: 0px;
    }

}

