 
.parrafo
{
    text-align: justify;
    font-family: 'Lexend Deca', sans-serif;  
   
}
.sub
{
    font-family: 'Lexend Deca', sans-serif;  
    font-size: 16px;
    text-align: justify;

}
.btnfav{
    position: absolute;
    top:10px;
    right: 0px;
    background-color: #95187E;
    color: white;
    max-width: 10vh;
    min-width: 10vh;
    max-height: 10vh;
    min-height: 10vh;
}
.listfab{
position: absolute;
top:10px;
right: -10px;
}
.logo{
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    top: -30px;
    background: white;
    padding: 5px;
}
.info{
    padding: 10px;
    position: relative;
    top:0px; 
    align-content: center;
    text-align: center;
    top: -60px; 
    margin: 3px;
    font-family: 'Lexend Deca', sans-serif;  
}

.fb{
    color: #29487d;  
    width: 5%; 
}

.in{ 
    color:white;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    border-radius: 5px;
     
}
.tw{
    color: dodgerblue;
   
}