page-contact {

}
.parrafo
{
    text-align: justify;


}
.sub
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.btnfav{
    position: absolute;
    top:10px;
    right: 0px;
    background-color: #95187E;
    color: white;
}
.listfab{
    position: absolute;
    top:10px;
    right: -10px;

}
.logo{
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    top: -40px;
    background: white;
}
.info{
    position: relative;
    align-content: center;
    text-align: center;
    top: -60px;
}

.fb{
    color: blue;
}

.in{ 
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.tw{
    color: dodgerblue;
}