page-home {

}


.boton_personalizado {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    align-content: center;
}
.boton_personalizado:hover {
    color: #1883ba;
    background-color: #ffffff;
}
.titulo{

    align-content: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    justify-content:center;


}
.ali{ //icono 

    align-content: center !important; 
    text-align: center !important;
    font-size: 40px;
    justify-content:center;
    background-position: center;
  
   

}
.textoboton{
 padding: 20px;
 background: white;
 color:black;
 font-size: 12px;
 


}

