page-restablecer-contra {
    .icono{
        position: relative;
        font-size: 60px;
        top: 0ox;
        left: 120px;
    }
    .boton{
        position: relative;
        top: 30px;;
    }

}
