page-restablecer-contra {
    .logo{
        position: relative;
        font-size: 60px;
        top: 0px;
        left: 40%;
        color:#EFA233;
        align-content: center;
        text-align: center;
        background: white;
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
        top:-30px;
    }
    .info{
        position: relative;
            align-content: center;
            text-align: center;
            top: -60px;
    }
    .boton{
        position: relative;
        top: 20px;
        border-radius: 20px;
    }

}
